<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DTL for,if tags</h1>
    <h2>1. for tag</h2>
    {% for menu in menus %}
        {{ menu }}
    {% endfor %}
    <hr>
    {% for menu in menus %}
        {{ forloop.counter }} : {{ menu }}
    {% endfor %}
    <hr>
    {% for x in empty_list %}
        {{ x }}
    {% empty %}
        <p>아무것도 없어요!!</p>
    {% endfor %}
    <hr>
    <h2>2. if tag</h2>
    {% if '짜장면' in menus  %}
        <p>짜장면은 고추가루지</p>
    {% endif %}
    <hr>
    {% if empty_list|length > 10  %}
        <p>길이가 10보다 크네요.</p>
    {% else %}
        <p>길이가 10보다 작네요.</p>
    {% endif %}
    <hr>
    <p>{{ 'hello'|length }}</p>
    <p>{{ 'my name is tom'|title }}</p>

    <p>{{ today|date:"Y년 M d일 D A f" }}</p>
    <hr>
    <h2>4. lorem</h2>
    {% lorem %}
    <hr>
    {% lorem 3 %}
    <hr>
    {% lorem 3 w random %}
    <hr>
    {% lorem 2 p %}
    <hr>

    <h2>5. truncate</h2>
    {% my_sentence %}
    <p>{{ my_sentence|truncatechars:5 }}</p>
    <p>{{ my_sentence|truncatewords:3 }}</p>

    <h6>6. 글자 관련 필터</h6>
    <p>{{ 'abc'|length }}</p>
    <p>{{ 'ABC'|lower }}</p>
    <p> {{ 'my name is joodong'|title }} </p>
    <p> {{ 'my name is joodong'|capfirst }} </p>
    <p>{{ menus|random }}</p>

    <h2>7. 연산</h2>
    <p>{{ 4|add:6 }}</p>
    <hr>

    <p>{{ datetimenow }}</p>

    {% now "DATETIME_FORMAT" %}<br>
    {% now "SHORT_DATETIME_FORMAT" %}<br>
    {% now "DATE_FORMAT" %}
    {% now "SHORT_DATETIME_FORMAT" %}
    <hr>
    {% now "Y년 m월 d일 D" %}
    <hr>
    
    {% comment %} 츨력 결과를 변수에 저장해서 활용 {% endcomment %}
    {% now "Y" as current_year %}<br>
    <b>{{ curruent_year }}</b>
    <hr>

    {% comment %} datetime 객체를 활용 {% endcomment %}
    {{ datetime|date:"Y년 m월 d일" }}<br>
    {{ datetime|date:"SHORT_DATETIME_FORMAT" }}


</body>
</html>