* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 200px auto;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

p {
  font-family: Arial;
}

.card {
  width: 700px;
  border: 3px dashed skyblue;
}

.card-nav {
  text-align: center;
  background-color: mediumspringgreen;
}

.card-header {
  padding: 18px;
}

.card-img {
  width: 100%;
  height: 330px;
  display: block;
}

.card-img-description {
  background-color: mediumspringgreen;
  height: 70px;
  text-align: center;
  color: white;
  padding-top: 7px;
}

.card-body {
  padding: 18px;
}

.card-body-title {
  position: relative;
}

.card-body-title > h4{
  display: inline-block;
}

.card-body-title > p {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 2px;
}

.card-body-content {
  background-color: thistle;
  padding: 5px;
  margin-top: 10px;
}

.card-footer {
  background-color: darkgreen;
  color: white;
  text-align: right;
  padding: 10px 8px 10px 0;
}
